@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/_carousel.scss";


@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap');
// frontend
@import "./components/frontend/HomeView";
@import "./components/frontend/UserProducts";
@import "./components/frontend/UserProduct";
@import "./components/frontend/UserNews";
@import "./components/frontend/UserNew";
@import "./components/frontend/UserCheckout";

// backend
@import "./components/backend/Articles";


// support
@import "./components/effect/Carousel";
@import "./components/effect/Button";
@import "./components/effect/Toast";
@import "./components/effect/Table";
html, body {
    font-family: 'Noto Serif TC', serif;
}

#app {
    font-family: 'Noto Serif TC', serif;
}
.logo{
  height:30px;
}
// 滑鼠特效
.imgHover{
  cursor: pointer;
}
// 卡片外框
.card{
  border-color: #ffffff00;
}
// 優惠碼底圖
.middleBg{
  background-size: cover;
  background-position: center;
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("https://storage.googleapis.com/vue-course-api.appspot.com/chaichai_api/1704682267504.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=c4MWBs77ZM%2BOOl%2Ftm8wxNuw6Tk249vNTizbweLH4meFXjh8KyNl%2FsxlFGXaB%2Bv59FIo2PL8mzvo0XZ5b9mYropKqidJjKuQYPlpwrHy3hptZ%2BZxOi9HhltAeFNdIWVdityjeTZi%2F%2Be9EXb3v8la9j2VUKx8X6N1pITbPDCWJR7P%2FI3sy5LTTpQHkmuSpy71QcJ04frqTp33WtIm5Lfy6lsAERsXpMWmG8fG8DkvmJzjqGVNE5%2B4%2FLc8smGs%2F49g%2FPBr0b1dli4LjPDQtFlkazeyr2uSToIL5KWKymJilcfKzEHLhkzicaGSCzUfkdh0cIw03A56gFWkTCQwCitM6Ow%3D%3D");
  background-attachment: fixed;
  height: 400px;
  position: relative;
  display: block;
}
// 頁面按鈕start
.page-link{
  border: none;
  color: #555;
  margin: 0 6px;
}
.page-item:first-child .page-link{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page-item:last-child .page-link{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-link:hover{
  border: none;
  border-bottom: solid #a04a03;
  color: #a04a03;
  margin: 0 6px;
}
.pagination{
  --bs-pagination-disabled-bg: #fff;
  border: none;
}
.page-link:focus{
  color: #a04a03;
}
.page-link.active, .active > .page-link {
  background-color: #ffffff;
  color: #ffab4b;
  font-weight:bolder;
  border-bottom: solid #ffab4b;
}
// 頁面按鈕end