.selection-process img{
  width: 100px;
}
// 介紹img
.imgIntroduce{
  height: 400px;
}
// 優惠碼底圖
.middleBg{
  background-size: cover;
  background-position: center;
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("https://storage.googleapis.com/vue-course-api.appspot.com/chaichai_api/1704682267504.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=c4MWBs77ZM%2BOOl%2Ftm8wxNuw6Tk249vNTizbweLH4meFXjh8KyNl%2FsxlFGXaB%2Bv59FIo2PL8mzvo0XZ5b9mYropKqidJjKuQYPlpwrHy3hptZ%2BZxOi9HhltAeFNdIWVdityjeTZi%2F%2Be9EXb3v8la9j2VUKx8X6N1pITbPDCWJR7P%2FI3sy5LTTpQHkmuSpy71QcJ04frqTp33WtIm5Lfy6lsAERsXpMWmG8fG8DkvmJzjqGVNE5%2B4%2FLc8smGs%2F49g%2FPBr0b1dli4LjPDQtFlkazeyr2uSToIL5KWKymJilcfKzEHLhkzicaGSCzUfkdh0cIw03A56gFWkTCQwCitM6Ow%3D%3D");
  background-attachment: fixed;
  height: 400px;
  position: relative;
  display: block;
}
// 介紹img
@media (max-width: 1200px) {
  .imgIntroduce{
    height: auto;
  }
}